.slider-wrapper {
  display: flex;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  width: 250px;
  border-radius: 16px;

  // background: none;

  border: none;
  outline: none; /* Remove outline */
  box-shadow: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  // background-color: $garnet;
  border-radius: none;
  box-shadow: none;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: none;
  border: none;
  height: 28px;
  width: 28px;
  background: url("/images/slider-thumb.png");
  background-size: contain;
  border-radius: 16px;

  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

.slider-track {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2px 12px;
  margin-top: 24px;
  border: 1px solid $garnet;
  border-radius: 16px;
  color: $garnet;

  &--max {
    margin-left: -38px;
  }
}
