// COLORS
$light-garnet: #9d3c35;
$garnet: #792e29;
$raisin-black: #24201d;
$olive: #565538;
$grullo: #aba38f;
$timber-wolf: #d9d4c8;
$cold-ash: #c6c5c4;
$error: #e9c4c1;
$success: #93ca8f;

// OTHERS
$border-radius: 8px;
$padding-base: 4px;
$text-title: 20px;
$text-lg: 16px;
$text-sm: 12px;
