@use "./styles/global.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  max-width: $desktop;
  color: $raisin-black;
  background-color: $timber-wolf;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

body {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.main__body {
  padding: $padding-base * 10;
}

svg {
  stroke: $garnet;
  fill: $garnet;
}

.disabled {
  color: $grullo !important;
  pointer-events: none !important;

  svg {
    stroke: $grullo !important;
    fill: $grullo !important;
  }
}
