@use "./styles/global.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  max-width: $desktop;
  color: $raisin-black;
  background-color: $timber-wolf;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

body {
  margin: 0 auto;
  text-align: center;
}

svg {
  color: $garnet;
}
