h1 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 5%;
}

h2 {
  font-size: 55px;
  line-height: 55px;
  letter-spacing: 5%;
}

h3 {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 5%;
}

h4 {
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 5%;
}

h5 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5%;
}

body {
  font-size: 14px;
}
