.product-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 16px;

  background-color: $grullo;
  border-radius: 8px;
  padding: $padding_base * 2;
  width: $product_card_mobile_width;
  height: $product_card_mobile_height;
  cursor: pointer;

  &__desc {
    text-align: start;
  }

  &__price {
    color: $garnet;
    margin-top: 6px;
  }

  & img {
    width: 90px;
    height: 70px;
    object-fit: fill;
    align-self: center;
  }

  @include responsive("desktop") {
    width: $product_card_width;
    height: $product_card_height;

    & img {
      width: 160px;
      height: 130px;
      object-fit: fill;
      align-self: center;
    }
  }
}
