.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  user-select: none;

  & svg {
    fill: none;
  }

  &__section {
    display: flex;
    justify-content: start;

    &:nth-child(1) {
      width: 400px;
    }
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  &__image {
    width: 90px;
    height: 90px;
  }
}
